.header_container{
    display: flex;
    background-color: darkblue;
    color: white;
    box-shadow: 0px 3px 3px 2px #35449f7a;
}

.header_container img{
    width: 10em;
}
.header_container h2{
    margin-left: 1em;
}